body{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-color:  #212534;
}
h1{
    color:#FFC857;
    margin: 40px;
}
.secret {
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../images/secret-man.jpg);
    background-size: 100%;
    background-position: top;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    padding: 20px;
    height: 200px;
    width: 300px;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    border-radius: 50px;
    transition: background 1s ease-in-out; /* Smooth transition for background */
}

.secret span {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Smooth transition for text */
}

/* Hover effect to make text visible and hide the background image */
.secret:hover {
    background: none; /* Remove the background image */
}

/* Make the span visible on hover */
.secret:hover span {
    opacity: 1;
    visibility: visible;
    color:white;
}

.secret:hover::before,
.secret:hover::after {
    opacity: 0; /* Fade out pseudo-elements */
    visibility: hidden; /* Ensure the pseudo-elements disappear smoothly */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Smooth fade-out transition */
}

.secret::after, .secret::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        var(--angle),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    z-index: -1;
    border-radius: 50px;
    padding: 5px;
    animation: spin 4s linear infinite;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Smooth transitions for appearance and disappearance */
}

.secret::before {
    filter: blur(2rem);
    opacity: 0.8;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


.buttons{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
}
.logout{
    color:rgb(220, 20, 37);
    position: relative;
    
}
.submit{
    color:#2793a1;
    position:relative;
}
.logout::after{
    content: "";
    position: absolute;
    height:3px;
    width:0;
    background-color: rgb(220, 20, 37);
    left:0;
    bottom:-5px;
    transition:width 0.8s ease-out;
}
.logout:hover::after{
    width: 100%;
}
.submit::after{
    content: "";
    position: absolute;
    height:3px;
    width:0;
    background-color: #2793a1;;
    left:0;
    bottom:-5px;
    transition:width 0.8s ease-out;
}
.submit:hover::after{
    width: 100%;
}

